## Visual Studio - IGNORE EVERYWHERE IN PROJECT
**/.vs/
**/.vsx/
**/*.user
**/*.suo
**/*.userosscache
**/*.futdcache
**/*.vsidx
**/*.vsp
**/*.vspx
**/*.sap

## Build outputs - EVERYWHERE
**/bin/
**/obj/
**/[Bb]uild/
**/[Bb]uildLog/
**/*.bin
**/*.obj
**/*.exe
**/*.dll
**/*.pdb

**/logs/
## Project files that might appear in subfolders
**/*.csproj.user
**/*.vbproj.user
**/*.fsproj.user